ErrorDocument 400 /errores/400.html
ErrorDocument 403 /errores/403.html
ErrorDocument 404 /errores/403.html
ErrorDocument 500 /errores/500.html
DirectoryIndex indexProyectoTema3.php
Redirect 301 /proyectoTema3/google https://google.es